@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body {
    font-family: 'Inconsolata', sans-serif;
    font-size: 15px;
    color: #0e00ff;
}

a:hover {
    text-decoration: none;
}

button,
input,
textarea:focus {
    outline: none !important;
    box-shadow: none !important;
}

li {
    list-style: none;
}

a {
    color: #000;
}

img {
    max-width: 100%;
}

img:focus {
    outline: none !important;
}

a:focus {
    color: initial;
    outline: none !important;
}

a:hover {
    color: initial;
}





.site-navbar {
    background: #fff;
    margin-bottom: 0px;
    z-index: 1999;
    position: relative;
}

.search-wrap {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.search-wrap .search-close {
    z-index: 4;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.search-wrap .search-close span {
    font-size: 30px;
}

.logo img {
    width: 65px;
}

.site-navbar .site-navigation .site-menu {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu>li {
    display: inline-block;
    padding: 0 5px;
}

.site-navbar .site-navigation .site-menu>li>a {
    padding: 10px 10px;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #25262a;
    font-size: 18px;
    text-decoration: none !important;
    letter-spacing: 3px;
}

.site-navbar .site-navigation .site-menu .active>a {
    color: #13269c;
}

.site-navbar .site-navigation .site-menu>li>a:hover {
    color: #13269c;
}

.site-navbar a {
    font-size: 20px;
}

.icons-btn {
    display: inline-block;
    text-align: center;
}

.icons-btn span {
    display: block;
    margin-right: 20px;
    line-height: 40px;
}

.bag {
    position: relative;
}

.bag .number {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
    background: #ee4266;
    right: -10px;
}

.site-menu-toggle {
    display: block;
    text-align: center;
    font-size: 28px;
    height: 40px;
    width: 40px;
    line-height: 40px;
}

.search-wrap.active {
    opacity: 1;
    visibility: visible;
}

.search-wrap .form-control {
    position: absolute;
    top: 50%;
    width: 85%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
    z-index: 3;
    font-size: 20px;
}

.search-wrap .container {
    position: relative;
    height: 100%;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 2000;
    padding: 10px 0;
    background: #fff;
    height: 100%;
    border-left: 1px solid #eaeaea;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.is-collapsed-mobile .mobile-menu {
    right: 0;
}

.site-wrap {
    position: relative;
    transition: .3s all ease-in-out;
    right: 0;
}

.is-collapsed-mobile .site-wrap {
    right: 66%;
}

.mobile-menu--head {
    padding: 0 15px 10px;
    border-bottom: 1px solid #eaeaea;
}

.mobile-menu--content {
    padding: 10px;
    font-size: 18px;
}

.mobile-menu--content li {
    padding: 5px;
}

.mobile-menu--content a {
    font-size: 18px;
    letter-spacing: 1px;
}

.mobile-menu {
    width: 66%;
}

.promo {
    background-color: #f7e9e2;
    color: #000;
    font-size: 0.7em;
    padding: 0.5em 1em;
    position: relative;
    transition: .3s all ease-in-out;

}

.promo p {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.marquee {
    overflow: hidden;
}

.js-close--promo {
    position: absolute;
    right: 0;
    padding: 0 20px;
    background: #f7e9e2;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#banner,
#collection {
    position: relative;
}

#banner .owl-nav {
    margin: 0;
}

#banner .owl-nav .owl-prev {
    left: 0;
    position: absolute;
    height: 100%;
    top: 0;
    font-size: 50px;
    margin: 0;
    color: #fff;
}

#banner .owl-nav .owl-next {
    right: 0;
    position: absolute;
    height: 100%;
    top: 0;
    font-size: 50px;
    margin: 0;
    color: #fff;
}

#banner .owl-nav button:hover {
    background: none;
}

.welcome {
    padding: 120px 0 80px;
}

.welcome-img img{
    height: 75vh;
}
.welcome-content h2 {
    font-size: 3.2rem;
}

.welcome-content p {
    font-size: 18px;
}

#collection .owl-nav .owl-prev {
    left: 0;
    position: absolute;
    height: 100%;
    top: 0;
    font-size: 50px;
    margin: 0;
    color: #d0d0d0;
}

#collection .owl-nav .owl-next {
    right: 0;
    position: absolute;
    height: 100%;
    top: 0;
    font-size: 50px;
    margin: 0;
    color: #d0d0d0;
}

#collection .owl-nav button:hover {
    background: none;
}

.collection-item {
    position: relative;
}

.collection-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.collection-content {
    margin: 60px;
    padding: 60px;
    height: 290px;
    width: 25%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.04);
    background-color: #fff;
    border-radius: 20px;
}

.collection-content--title {
    margin-top: 0;
    margin-bottom: 0.625rem;
    font-size: 2.25rem;
    line-height: 1.1;
    text-transform: uppercase;
}

.collection-content--des {
    margin-bottom: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 42px;
}

.btn-discover {
    background-color: rgba(255, 255, 255, 0);
    color: #0e00ff;
    border: 1px solid #0e00ff;
    box-shadow: none;
    padding: 14px 28px;
    display: inline-block;
    text-align: center;
    transition: all 0.15s ease;
    text-transform: uppercase;
}

.btn-discover:hover {
    background-color: #0e00ff;
    color: #fff;
}

.intro-content--box span {
    display: block;
    font-size: 40px;
    margin-bottom: 40px;
    color: #071b97;
}

.intro-content--box p {
    font-size: 22px;
    line-height: 40px;
    color: #2e0b72c2;
}

.intro-content--author strong {
    display: block;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 2px;
    margin-left: 20px;
    text-transform: uppercase;
    color: #071b97;
}

#intro .owl-nav .owl-prev {
    left: 0;
    position: absolute;
    height: 100%;
    top: 0;
    font-size: 50px;
    margin: 0;
    color: #d0d0d0;
}

#intro .owl-nav .owl-next {
    right: 0;
    position: absolute;
    height: 100%;
    top: 0;
    font-size: 50px;
    margin: 0;
    color: #d0d0d0;
}

#intro .owl-nav button:hover {
    background: none;
}

#product{
    background-color: #f3f3f3;
    margin-bottom: -10px;
}

#product .owl-nav .owl-prev {
    left: 0;
    position: absolute;
    height: 100%;
    top: 0;
    font-size: 50px;
    margin: 0;
    color: #d0d0d0;
}

#product .owl-nav .owl-next {
    right: 0;
    position: absolute;
    height: 100%;
    top: 0;
    font-size: 50px;
    margin: 0;
    color: #d0d0d0;
}

#product .owl-nav button:hover {
    background: none;
}

.product-item--wrap{
    display: flex;
    align-items: center;
    min-height: 50vh;
}

.product-image {
    align-self: stretch;
    position: relative;
    width: 50%;
}

.product-image--bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-content {
    width: 50%;
}

.product-content--item{
    position: relative;
    border: 1px solid #272459;
    background: #fff;
    margin-top: -1px;
    min-height: 100%;
    scroll-snap-align: start;
    width: 20vw;
    margin: 0 auto;
}

.product-link {
    display: block;
    height: 100%;
    color: #0e00ff;
}

.product-double--image {
    display: block;
    padding-top: 120%;
    height: 0;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #272459;
}

.product-double--front {
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.product-double--under {
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.product-double--image:hover .product-double--under{
    opacity: 1;
}

.product-content--info {
    padding: 12px;
    text-align: center;
    position: relative;
}

.product-content--info h3 {
    font-size: 18px;
    margin: 0 0 5px;
    text-transform: capitalize;
    line-height: 1.4;
}

.product-content--info .price {
    font-size: 14px;
    opacity: .7;
}

.product-link:hover{
    color: inherit;
}

.product-title--mobile{
    display: none;
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.76em;
}

#footer{
    background: #272459;
    color: #fff;
    font-family: 'Roboto';
}

#footer .logo img{
    width: 100px;
}

.footer-icon a{
    color: #fff;
}
.footer-icon a:hover{
    color: #d7a850;
}
.footer-icon i{
    font-size: 18px;
    margin-right: 25px;
}

.fixed-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.04);
    transition-duration: 500ms;
}
.fixed-header .site-navbar{
    padding: 10px 0 !important;
    transition-duration: 500ms;
}









@media (max-width: 575px) {
    #banner .owl-nav .owl-prev {
        font-size: 25px;
    }

    #banner .owl-nav .owl-next {
        font-size: 25px;
    }
    #collection .owl-nav .owl-next {
        font-size: 25px;
    }
    #collection .owl-nav .owl-prev {
        font-size: 25px;
    }
    #intro .owl-nav .owl-next {
        font-size: 25px;
    }
    #intro .owl-nav .owl-prev {
        font-size: 25px;
    }
    #product .owl-nav .owl-next {
        font-size: 25px;
    }
    #product .owl-nav .owl-prev {
        font-size: 25px;
    }
    .welcome{
        padding: 80px 0;
    }

    .collection-content {
        margin: 30px;
        padding: 20px;
        height: auto;
        width: 100%;
    }

    .collection-wrap {
        align-items: center;
        justify-content: center;
    }
}

@media(min-width: 576px) and (max-width: 767px){
    .collection-content {
        margin: 30px;
        padding: 20px;
        height: auto;
        width: 60%;
    }
}

@media(max-width:768px) {
    .collection-content--title {
        font-size: 1.5rem;
    }
    .welcome-content h2{
        font-size: 2.8rem;
    }
    .intro-content--box {
        width: 100% !important;
        padding: 35px 35px 0;
    }
    .welcome-img img{
        height: 50vh;
    }
    .product-item--wrap {
        flex-direction: column;
    }
    .product-image {
        width: 50%;
        height: 50vw;
        margin: 30px auto 0 auto;
    }
    .product-content {
        width: 100%;
        padding: 40px;
    }
    .product-content .product-content--item {
        width: 50vw;
    }
    .product-title--mobile{
        display: block;
    }
}

@media(min-width: 768px) and (max-width: 991px){
    .collection-content {
        padding: 30px;
        height: auto;
        width: 50%;
    }
}
@media(max-width:991px) {
    .logo img {
        width: 50px;
    }

    .site-navbar {
        padding: 15px 0 !important;
    }
    .collection-content--des {
        margin-bottom: 1em;
    }

    .welcome-content {
        margin-top: 60px;
    }
   
}

@media(min-width:992px) and (max-width: 1024px) {
    .site-navbar .site-navigation .site-menu>li {
        padding: 0;
    }

}
@media(max-width: 1300px){
    .product-content {
        padding: 60px;
    }
}
@media only screen and (min-width: 1400px){
    .product-item--wrap {
        min-height: 800px;
    }
}